/*
Admin Area
 */
.admin-menu {
    margin-top: 20px;
    font-family: 'Cabin', sans-serif;
}

.box {
    position: relative;
    border-radius: 3px;
    background: #fefefe;
    border: 1px solid #ccc;
    border-top: 3px solid #2980b9;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.box > .box-header {
    padding: 10px;
    border-bottom: 1px solid #f4f4f4;
}

.box-header > h3 {
    margin: 0;
}

.box > .box-content {
    padding: 10px;
}

.tambah-video {
    margin-top: 20px;
    margin-left: 20px;
    display: inline-block;
}

.select2-container--default .select2-selection--single{
    padding: 3px 6px;
    height: 34px;
    border-radius: 0;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}