html {
    position: relative;
    min-height: 100%;
}

input {
    border-radius: 0px !important;
}

body {
    margin-top: 50px;
    margin-bottom: 70px;
    font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Cabin', sans-serif;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    padding: 15px 0;
    background-color: #2980b9;
    color: #fff;
}

.btn {
    border-radius: 0px;
}

.navbar-brand .logo {
    display: inline-block;
    height: 40px;
    transition: width 0.2s, opacity 0.2s;
}

.navbar {
    background-color: #3498db;
    border: none;
    font-size: 1.3em;
    font-family: 'Cabin', sans-serif;
    font-weight: 700;
}

.navbar a {
    color: #eee !important;
}

.navbar a:hover {
    color: #fff !important;
}

.navbar-brand {
    color: #eee !important;
}

.navbar-nav > .open > a {
    border-bottom-left-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
}

.dropdown-menu {
    margin-top: 2px !important;
    border-top-left-radius: 4px !important;
    border-top-right-radius: 4px !important;
}

.navbar-brand {
    padding-top: 5px;
}

.nav-spacer {
    width: 300px;
    display: inline-block;
}

.navbar-nav > .open > a {
    background-color: #2980b9 !important;
}

.dropdown-menu {
    background-color: #2980b9;
    border: none;
}

.divider {
    background-color: #2475a6 !important;
}

.dropdown-menu > li > a:hover {
    background-color: #2980b9;
    color: #fff;
}

.jumbotron {
    background-color: #3498db;
    padding-bottom: 0;
}

.video {
    display: block;
    margin-bottom: 15px;
}

.video-thumbnail {
    position: relative;
}

.video-thumbnail img {
    display: block;
    height: 150px;
    width: 100%;
    background-color: grey;
}

.video-hover {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #222;
}

.video-hover > .fa {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.video-thumbnail:hover .video-hover {
    opacity: 0.6;
}

.search-bar input,
.search-bar button {
    background-color: #2980b9;
    border-color: #2980b9;
    box-shadow: none;
    color: #eee;
}

.search-bar button:hover {
    background-color: #2980b9;
    border-color: #2980b9;
}

.search-bar input::placeholder {
    color: #eee;
}

.search-bar input:focus {
    border: #2980b9;
    box-shadow: none;
}

.video-title {
    margin-top: 5px;
    display: block;
    color: #333;
    font-weight: 700;
}

.big-picture {
    height: 300px;
    float: right;
    margin-left: 20px;
}

.table td.fit,
.table th.fit {
    white-space: nowrap;
    width: 1%;
}

.nav-pills > li > a {
    border-radius: 0;
}

.welcome-register {
    padding: 10px;
    background-color: #f3f3f3;
    color: #222;
    font-family: 'Cabin', sans-serif;
    border-radius: 4px;
    box-shadow: 0px 6px 0px rgba(204, 204, 204, 1);
    margin-bottom: 20px;
}

.welcome-register:hover {
    position: relative;
    top: 3px;
    box-shadow: 0px 3px 0px rgba(204, 204, 204, 1);
}

.welcome-register:active {
    position: relative;
    top: 5px;
    box-shadow: 0px 1px 0px rgba(204, 204, 204, 1);
}

.welcome-register.alternate {
    margin-left: 10px;
    background-color: #333;
    color: #f3f3f3;
    box-shadow: 0px 6px 0px rgba(34, 34, 34, 1);
}

.welcome-register.alternate:hover {
    position: relative;
    top: 3px;
    box-shadow: 0px 3px 0px rgba(34, 34, 34, 1);
}

.description {
    color: #f3f3f3;
}

a.welcome-link,
a.welcome-link:active
a.welcome-link:hover {
    color: #f3f3f3;
    font-weight: 400;
    font-family: 'Cabin', sans-serif;
}

.big-logo {
    width: auto;
}

@media (max-width: 992px) {
    .nav-spacer {
        width: 0;
    }

    .big-logo {
        width: 100%;
    }

    .big-picture {
        display: none;
    }
}

.video-main-play {
    /*margin-top: 80px;*/
}

.video-play {
    margin-top: 30px;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}

.video-play iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-play iframe {
    width: 100%;
    height: 100%;
}

.keterangan-video {
    border: solid 1px #bdc3c7;
}

.keterangan-video h3, p {
    margin-left: 10px;
    margin-right: 10px;
    text-align: justify;
}

.komentar-video {
    margin-top: 10px;
}

.komentar-video input,
.komentar-video textarea {
    border-radius: 0px !important;
}

.komentar-video .btn {
    margin-top: 5px;
}

.komentar-video .col-md-11 {
    padding-left: 10px;
}

.komentar-video .col-md-1 {
    padding-right: 0;
    margin-top: 5px;
}

.komentar-video img {
    width: 60px;
    height: 60px;
}

.komentar-video textarea {
    margin-top: 5px;
    margin-bottom: 1px;
}

.video-list-container {
    margin-top: 30px;
    border: 1px solid #eee;
    height: 100%;
}

.video-list-container hr {
    margin-top: 0px;
    margin-bottom: 0px;
}

.video-list-container h4 {
    padding: 0 10px;
    font-size: 24px;
}

.video-list ul {
    margin: 0;
    padding: 0;
}

.video-item {
    display: block;
    padding: 5px 10px;
}

.video-item:hover {
    text-decoration: none;
    background: #ecf0f1;
}

.video-item {
    color: black;
    border-bottom: 1px solid #eee;
}

.video-item.active {
    background-color: #3498db;
    color: #eee;
}

.video-item li {
    list-style: none;
}

.comment {
    padding: 0;
    margin-bottom: 10px;
}

.comment li {
    list-style: none;
    display: block;
}

.comment img {
    width: 40px;
    height: 40px;
    float: left;
    margin-top: 3px;
    margin-right: 10px;
}

.comment .nama {
    font-weight: bold;
    display: block;
}

.comment .isi {
    display: block;
    overflow: hidden;
    word-wrap: break-word;
}

.comment .reply {
    margin-top: 5px;
    display: block;
    color: #7f8c8d;
}

.comment .reply a {
    color: #7f8c8d;
}

.comment .like-color {
    color: #1abc9c;
}

.comment .reply .fa-thumbs-up {
    margin-left: 5px;
}

.comment .c-reply {
    margin-top: 10px;
}

.profile-userpic .picture {
    border-radius: 100%;
    display: block;
    margin: 0 auto 20px;
    height: 200px;
    width: 200px;
    background-size: cover;
    background-position: 50%;
}

.profile-container {
    border-right: solid 1px #eee;
    padding: 20px 30px;
}

.upload-foto {
    border: solid 1px #bdc3c7;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: absolute;
    margin-left: 300px;
    margin-top: -60px;
    background-color: white;
    cursor: pointer;
}

.upload-foto i {
    padding: 26%;
}

.upload-foto i:hover {
    color: #2980b9;
}

.upload-foto span {
    position: absolute;
    left: 40px;
    top: 7px;
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.edit-profile {
    display: block;
    margin: 0 auto;
    width: 150px;
}

.box-edit {
    display: block;
    margin: 0 auto;
    width: 500px;
}

input[type="file"] {
    display: none;
}

.profile-container-comments .box {
    display: block;
    border: 1px solid #bdc3c7;
    height: 92px;
    position: relative;
    margin-bottom: 15px;
}

.profile-container-comments .box .gambar {
    width: 160px;
    height: 90px;
    background-size: cover;
    float: left;
    margin-right: 15px;
}

.profile-container-comments hr {
    margin: 5px 0;
}

.notif-box a {
    font-size: 16px;
}

.notif-box span {
    font-size: 14px;
}

.notif-new {
    background-color: #1abc9c;
    color: #fff;
    padding: 2px 4px;
    border-radius: 4px;
}

.notif-judul {
    display: block;
    width: 150px;
    word-wrap: break-word;
    white-space: normal
}

.pesan span {
    color: #9d9d9d;
}

.pesan {
    display: block;
    border-bottom: 1px solid #eee;
    margin-top: 10px;
}

.pesan-form {
    position: relative;
}

.pesan-form .kirim {
    position: absolute;
    right: 0;
    bottom: 0;
}